/* SECTION Category Filter */

.categoryFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  height: 16.6rem;
  width: 25.5rem;
  background-color: #ffffff;
  border-radius: 1rem;
  padding-top: 2.4rem;
  padding-left: 2.4rem;
  padding-bottom: 2.4rem;
  margin-top: 2.4rem;
}

.feedbackFeaturesFilter {
  background-color: #f2f4ff;
  border-radius: 1rem;
  border: none;
  font-size: 1.3rem;
  color: #4661e6;
  font-weight: 600;
  height: 3rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
}

.feedbackFeaturesFilterSelected {
  background-color: #4661e6;
  color: #ffffff;
}

.feedbackFeaturesFilter:hover {
  cursor: pointer;
  background-color: #cfd7ff;
  color: #4661e6;
}
