.canvas {
  display: flex;
  flex-direction: column;
}

.borderTop {
  position: relative;
  padding-top: 3.2rem;
}

.borderTop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 3.2rem; /* Make the border 3.2rem shorter on the right side */
  border-top: 0.1rem solid #8c92b340;
}

@media (max-width: 37.5rem) {
  .borderTop {
    position: relative;
    padding-top: 2.4rem;
  }

  .borderTop::before {
    right: 2.4rem; /* Make the border 3.2rem shorter on the right side */
  }
}
