/* SECTION Edit Feedback */
* {
  font-family: "Jost";
}

.mainCanvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 91rem;
  width: 54rem;
  margin: auto;
  margin-top: 9.2rem;
}

.goBackSection {
  display: flex;
  align-items: center;
  margin-left: 0%;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: auto;
  height: 2rem;
  cursor: pointer;
}

.goBackText {
  font-size: 1.4rem;
  display: inline;
  color: #647196;
  font-weight: 700;
  margin-left: 1.567rem;
}

.feedbackForm {
  position: relative;
  background-color: #ffffff;
  border-radius: 1rem;
  height: 82.2rem;
  width: 54rem;
}

.feedbackCircle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 4.2rem;
  top: -2.6rem;
  border-radius: 100%;
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
  height: 5.6rem;
  width: 5.6rem;
}

.mainLabel {
  display: block;
  margin-left: 4.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #3a4374;
  margin-top: 5.2rem;
}

.titleLabel,
.categoryLabel,
.updateStatusLabel,
.feedbackDetailLabel {
  display: block;
  color: #3a4374;
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 4.2rem;
  margin-top: 7.5rem;
}

.categoryLabel,
.updateStatusLabel,
.feedbackDetailLabel {
  margin-top: 2.4rem;
}

.titleDescription,
.updateStatusDescription,
.feedbackDetailDescription {
  display: block;
  font-size: 1.4rem;
  color: #647196;
  margin-left: 4.2rem;
  margin-top: 0.2rem;
}

.titleInput {
  font-family: "Jost";
  display: block;
  margin-left: 4.2rem;
  margin-top: 1.6rem;
  height: 4.8rem;
  width: 45.6rem;
  background-color: #f7f8fd;
  border-radius: 0.5rem;
  border: none;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  color: #3a4374;
  font-size: 1.5rem;
  cursor: pointer;
}

.titleInput:focus {
  /* border: none; */
  outline: 1px solid #4661e6;
}

.inputError {
  outline: 1px solid #d73737;
}

.categorySelect {
  position: relative;
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  color: #3a4374;
  font-size: 1.5rem;
  background-color: #f7f8fd;
  border-radius: 0.5rem;
  border: none;
  height: 4.8rem;
  width: 45.6rem;
  margin-left: 4.2rem;
  margin-top: 1.6rem;
  margin-right: 2.4rem;
  cursor: pointer;
}

.categorySelectActive {
  position: relative;
  display: flex;
  align-items: center;
  color: #3a4374;
  font-size: 1.5rem;
  background-color: #f7f8fd;
  border-radius: 0.5rem;
  border: none;
  height: 4.8rem;
  width: 45.6rem;
  margin-left: 4.2rem;
  margin-top: 1.6rem;
  margin-right: 2.4rem;
  outline: 1px solid #4661e6;
  cursor: pointer;
}

.categorySelectText {
  color: #647196;
  font-size: 1.5rem;
  padding-left: 2.4rem;
}

.dropdownIcon {
  margin-left: auto;
  margin-right: 2.4rem;
}

.dropdownIconReverse {
  margin-left: auto;
  margin-right: 2.4rem;
}

.dropdown {
  position: absolute;
  top: 6.4rem;
  /* left: 0; */
  width: 45.6rem;
  height: 24rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
  z-index: 1;
}

.dropdown ul li {
  position: relative;
  color: #647196;
  list-style-type: none;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 2.4rem;
  font-size: 1.5rem;
}

.dropdown ul li:not(:last-child) {
  border-bottom: 0.1rem solid rgba(58, 67, 116, 0.15);
}

.dropdown ul li:hover {
  color: #ad1fea;
  cursor: pointer;
}

.dropdownStatus {
  position: absolute;
  top: 6.4rem;
  /* left: 0; */
  width: 45.6rem;
  height: 19.1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
  z-index: 1;
}

.dropdownStatus ul li {
  position: relative;
  color: #647196;
  list-style-type: none;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 2.4rem;
  font-size: 1.5rem;
}

.dropdownStatus ul li:not(:last-child) {
  border-bottom: 0.1rem solid rgba(58, 67, 116, 0.15);
}

.dropdownStatus ul li:hover {
  color: #ad1fea;
  cursor: pointer;
}

.tickIcon {
  position: absolute;
  right: 2.4rem;
  top: 1.989rem;
}

.statusSelect {
  position: relative;
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  color: #3a4374;
  font-size: 1.5rem;
  background-color: #f7f8fd;
  border-radius: 0.5rem;
  border: none;
  height: 4.8rem;
  width: 45.6rem;
  margin-left: 4.2rem;
  margin-top: 1.6rem;
  margin-right: 2.4rem;
  cursor: pointer;
}

.statusSelectActive {
  position: relative;
  display: flex;
  align-items: center;
  color: #3a4374;
  font-size: 1.5rem;
  background-color: #f7f8fd;
  border-radius: 0.5rem;
  border: none;
  height: 4.8rem;
  width: 45.6rem;
  margin-left: 4.2rem;
  margin-top: 1.6rem;
  margin-right: 2.4rem;
  outline: 1px solid #4661e6;
  cursor: pointer;
}

.statusSelectText {
  color: #647196;
  font-size: 1.5rem;
  padding-left: 2.4rem;
}

.feedbackDetailInput {
  display: block;
  margin-left: 4.2rem;
  margin-top: 1.6rem;
  height: 9.6rem;
  width: 45.6rem;
  background-color: #f7f8fd;
  border-radius: 0.5rem;
  border: none;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: 1.6rem;
  color: #3a4374;
  /* font-size: 1.5rem; */
  font-size: 1.5rem;
  resize: none;
}

.feedbackDetailInput:focus {
  /* border: none; */
  outline: 1px solid #4661e6;
}

.buttonContainer {
  display: flex;
  margin-right: 4.2rem;
  margin-left: 4.2rem;
  justify-content: space-between;
  align-items: center;
}

.cancelAndAddFeedbackBtnContainer {
  display: flex;
  gap: 1.6rem;
}

.btn {
  font-family: "Jost";
  color: #f2f4fe;
  font-size: 1.4rem;
  font-weight: 700;
  align-items: center;
  margin-top: 3.2rem;
  height: 4.4rem;
  padding: 1.25rem 2.4rem 1.15rem 2.4rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.cancelBtn {
  background-color: #3a4374;
}

.cancelBtn:hover {
  background-color: #656ea3;
}

.addFeedbackBtn {
  background-color: #ad1fea;
}

.addFeedbackBtn:hover {
  background-color: #c75af6;
}

.deleteBtn {
  background-color: #d73737;
}

.deleteBtn:hover {
  background-color: #e98888;
}

.textErrorMessage {
  position: absolute;
  font-size: 1.4rem;
  color: #d73737;
  margin-left: 4.2rem;
  margin-top: 0.4rem;
}
