/* SECTION Feedback Unit */
.feedbackUnit {
  border-radius: 1rem;
  width: 82.5rem;
  height: 15.1rem;
  background-color: #ffffff;
  margin-top: 2.4rem;
  cursor: pointer;
}

.feedbackUnit:hover {
  box-shadow: 0.3rem 0.3rem 0.2rem #eeeeee;
}

@media (max-width: 76.8rem) {
  .feedbackUnit {
    width: 68.9rem;
  }
}
