/* SECTION Feedback Board Main */
.feedbackBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rem;
  width: 82.5rem;
  background-color: #ffffff;
  margin-top: 2.4rem;
  border-radius: 1rem;
}

.feedbackboardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 37.9rem;
  width: 41rem;
}

.feedbackBoardBlankIcon {
  margin-left: auto;
  margin-right: auto;
}

.feedbackboardTitle {
  font-size: 2.4rem;
  font-weight: 700;
  color: #3a4374;
  margin-top: 5.326rem;
}

.feedbackboardText {
  font-size: 1.6rem;
  color: #647196;
  margin-top: 1.6rem;
  text-align: center;
}

.btnAddFeedback {
  color: #f2f4fe;
  font-weight: 700;
  height: 4.4rem;
  width: 15.8rem;
  background-color: #ad1fea;
  border-radius: 1rem;
  margin-top: auto;
  border: none;
}

.btnAddFeedback:hover {
  cursor: pointer;
  background-color: #c75af6;
}

@media (max-width: 76.8rem) {
  .feedbackBoard {
    width: 68.9rem;
  }

  .feedbackboardContent {
    width: 41rem;
  }
}

@media (max-width: 37.5rem) {
  .feedbackBoard {
    width: 32.7rem;
    height: 46rem;

    margin-top: 3.2rem;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }

  .feedbackboardContent {
    width: 27.8rem;
    height: 30.8rem;
  }

  .feedbackBoardBlankIcon {
    width: 10.2rem;
    height: 10.8rem;
  }

  .feedbackboardTitle {
    font-size: 1.8rem;
    margin-top: 3.9rem;
  }

  .feedbackboardText {
    font-size: 1.3rem;
    margin-top: 1.4rem;
    /* text-align: center; */
  }

  .btnAddFeedback {
    font-size: 1.3rem;
    height: 4rem;
    width: 13.4rem;

    margin-top: 2.4rem;
  }
}
