/* SECTION NAVBAR */

.navBar {
  position: relative;
  background-color: #373f68;
  height: 7.2rem;
  width: 82.5rem;
  border-radius: 1rem;
  display: flex;
  /* justify-content: space-between; */
  /* float: right; */
}

.bulbIcon {
  height: 2.4rem;
  width: 2.3rem;
  margin-left: 2.4rem;
  margin-top: auto;
  margin-bottom: auto;
}

.navBarSuggestions {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1.6rem;
}

.sortBy {
  color: #ffffff;
  font-size: 1.4rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3.8rem;
}

.sortBy:hover {
  cursor: pointer;
}

.dropdownItems {
  font-weight: 700;
}

.btnAddFeedback {
  color: #f2f4fe;
  font-weight: 700;
  margin-left: auto;
  height: 4.4rem;
  width: 15.8rem;
  background-color: #ad1fea;
  border-radius: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1.6rem;
  border: none;
}

.btnAddFeedback:hover {
  cursor: pointer;
  background-color: #c75af6;
}

.sortDropdown {
  position: absolute;
  top: 8.8rem;
  left: 22rem;
  width: 25.5rem;
  height: 19.2rem;
  border-radius: 1rem;
  background-color: white;
}
