/* SECTION NAVBAR */

.navBar {
  position: relative;
  background-color: #373f68;
  height: 7.2rem;
  width: 82.5rem;
  border-radius: 1rem;
  display: flex;
  margin-bottom: 2.4rem;
  /* justify-content: space-between; */
  /* float: right; */
}

.bulbIcon {
  height: 2.4rem;
  width: 2.3rem;
  margin-left: 2.4rem;
  margin-top: auto;
  margin-bottom: auto;
}

.navBarSuggestions {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1.6rem;
}

.sortBy {
  color: #ffffff;
  font-size: 1.4rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3.8rem;
}

.sortByDisabled {
  color: #f2f4fe;
  opacity: 75%;
  font-size: 1.4rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3.8rem;
  cursor: pointer;
}

.sortBy:hover {
  cursor: pointer;
}

.dropdownItems {
  font-weight: 700;
}

.btnAddFeedback {
  color: #f2f4fe;
  font-weight: 700;
  margin-left: auto;
  height: 4.4rem;
  width: 15.8rem;
  background-color: #ad1fea;
  border-radius: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1.6rem;
  border: none;
}

.btnAddFeedback:hover {
  cursor: pointer;
  background-color: #c75af6;
}

.sortDropdown {
  position: absolute;
  top: 8.8rem;
  left: 22rem;
  width: 25.5rem;
  height: 19.2rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
}

.sortDropdown ul li {
  position: relative;
  color: #647196;
  list-style-type: none;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 2.4rem;
  font-size: 1.6rem;
}

.sortDropdown ul li:not(:last-child) {
  border-bottom: 0.1rem solid rgba(58, 67, 116, 0.15);
}

.sortDropdown ul li:hover {
  color: #ad1fea;
  cursor: pointer;
}

.tickIcon {
  position: absolute;
  right: 2.4rem;
  top: 1.989rem;
}

@media (max-width: 76.8rem) {
  .navBar {
    position: relative;
    background-color: #373f68;
    height: 7.2rem;
    width: 68.9rem;
    border-radius: 1rem;
    display: flex;
    /* justify-content: space-between; */
    /* float: right; */
  }

  .btnAddFeedback {
    margin-right: 1.2rem;
  }
}

@media (max-width: 37.5rem) {
  .navBar {
    height: 7.2rem;
    width: 37.5rem;
    border-radius: 0rem;
    display: flex;
    margin-bottom: 3.2rem;
    /* justify-content: space-between; */
    /* float: right; */
  }

  .bulbIcon {
    display: none;
  }

  .navBarSuggestions {
    display: none;
  }

  .sortBy {
    font-size: 1.3rem;
    margin-left: 2.4rem;
  }

  .sortByDisabled {
    font-size: 1.3rem;
    margin-left: 2.4rem;
  }

  .sortDropdown {
    left: 2.4rem;
    height: 17.5rem;
    width: 20.5rem;
  }

  .sortDropdown ul li {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 2.4rem;
    font-size: 1.3rem;
  }

  .btnAddFeedback {
    font-size: 1.3rem;
    margin-right: 2.4rem;
    height: 4rem;
    width: 13.4rem;
  }
}
