/* SECTION Roadmap Feeback Unit */
.dotAndStatus {
  display: flex;
  align-items: center;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  margin-top: 3.1rem;
}

.status {
  margin-left: 1.6rem;
  font-size: 1.6rem;
  color: #647196;
}

.feedbackTitle {
  color: #3a4374;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.025rem;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  margin-top: 0.8rem;
}

.feedbackTitle:hover {
  color: #4661e6;
  cursor: pointer;
}

.feedbackDescription {
  margin-top: 0.4rem;
  font-size: 1.6rem;
  color: #647196;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  min-height: 4.6rem;
}

.feedbackCategory {
  margin-left: 3.2rem;
  margin-right: auto;
  margin-top: 1.6rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #4661e6;
  background-color: #f2f4ff;
  padding: 0.5rem 1.6rem 0.6rem 1.6rem;
  border-radius: 1rem;
}

.feedbackLikesAndComments {
  display: flex;
  justify-content: space-between;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}

.iconAndNumberOfLikes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 4rem;
  width: 6.9rem;
  background-color: #f2f4fe;
  border-radius: 1rem;

  border: none;

  cursor: pointer;
}

.iconAndNumberOfLikes:hover {
  background-color: #cfd7ff;
}

.iconAndNumberOfLikesLiked {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 4rem;
  width: 6.9rem;
  background-color: #4661e6;
  border-radius: 1rem;

  border: none;

  cursor: pointer;
}

.iconAndNumberOfLikesLiked p {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
}

.iconAndNumberOfLikes p {
  color: #3a4374;
  font-size: 1.3rem;
  font-weight: 700;
}

.iconAndNumberOfComments {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 4rem;
  /* width: 6.9rem; */
}

.iconAndNumberOfComments p {
  color: #3a4374;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.022rem;
  margin-left: 0.8rem;
}

.likes:active .increaseLikesBtn {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(360deg) brightness(103%) contrast(103%);
}

.likes:active .numberOfLikes {
  color: #ffffff;
}
