/* SECTION Roadmap */
.roadmap {
  display: flex;
  flex-direction: column;
  height: 17.8rem;
  width: 25.5rem;
  border-radius: 1rem;
  margin-top: 2.4rem;
  background-color: #ffffff;
}

.roadmapTitleAndView {
  display: flex;
  justify-content: space-between;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  margin-top: 1.9rem;
  margin-bottom: 2.4rem;
  align-items: baseline;
}

.roadmapTitle {
  color: #3a4374;
  font-size: 1.8rem;
  font-weight: 700;
}

.roadmapViewDisabled {
  color: #4661e6;
  opacity: 25%;
  background-color: #ffffff;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: underline;
  border: none;
  cursor: not-allowed;
}

.roadmapView {
  color: #4661e6;
  /* opacity: 25%; */
  background-color: #ffffff;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: underline;
  border: none;
  cursor: pointer;
}

.roadmapView:hover {
  color: #8397f8;
}

.roadmapList {
  display: flex;
  flex-direction: column;
  margin-left: 2.4rem;
  gap: 0.8rem;
}

.roadmapListPlanned {
  display: flex;
  font-size: 1.6rem;
}

.roadmapListPlanned .roadmapCircle {
  color: #f49f85;
}

.roadmapListInProgress {
  display: flex;
  font-size: 1.6rem;
}

.roadmapListInProgress .roadmapCircle {
  color: #ad1fea;
}

.roadmapListLive {
  display: flex;
  font-size: 1.6rem;
}

.roadmapListLive .roadmapCircle {
  color: #62bcfa;
}

.roadmapName {
  color: #647196;
  margin-left: 1.6rem;
}

.roadmapNumber {
  color: #647196;
  font-weight: 700;
  margin-left: auto;
  margin-right: 2.4rem;
}

@media (max-width: 76.8rem) {
  .roadmap {
    display: flex;
    flex-direction: column;
    height: 17.8rem;
    width: 22.3rem;
    border-radius: 1rem;
    background-color: #ffffff;
    margin-top: 0rem;
  }
}
